{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load cache %}

{% block title %}
  Видеомониторинг
{% endblock %}

{% block content %}
<div class="container py-5">     
  <h1 class="text-start">
    Последние обновления на сайте Видеомониторинга
  </h1>
  <article>
    {% include 'video/includes/switcher.html' %}
    {% comment %} {% cache 20 index_page %} {% endcomment %}
    <section>
      <aside class="col-md-12 col-md-10">
        <div class="row">
          {% for video in page_obj.object_list %}
            <div class="col-md-4 mb-4">
              <div class="card" class="card mb-3" style="width: 18rem;">
              <div class="card-body text-center">
                <h5 class="card-title">{{ video.name }}</h5>
                <span class="date">{{ video.pub_date|date:"d E Y" }}</span>
              <div class="post-masonry">
                <div class="post-thumb">
                  {% thumbnail video.image "660x339" crop="center" upscale=True as im %}
                    <a href="{% url 'video:video' video.id %}">
                      <img class="card-img my-2" src="{{ im.url }}">
                    </a>
                  {% endthumbnail %}
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  <div class="post-hover text-center">
                    <div class="inside">
                      <i class="fa fa-plus"></i>
                      <p>{{ video.description|slice:":30" }}</p>
                      <nav class="navbar bg-body-tertiary">
                        <form class="container-fluid justify-content-start">
                          <a href="{% url 'video:video' video.id %}">
                            <button class="btn btn-outline-primary me-2" type="button">Просмотр видео</button>
                          </a>
                        </form>
                      </nav>
                    </div>
                  </div>
                  <p>{{ video.text }}</p>
                </h6>
                </div>
              </div>
              </div>
            </div>
            </div>
          {% endfor %}
        </div>
      </aside>
    </section>
    {% if not forloop.last %}
      <hr class="border border-primary border-3 opacity-75">
    {% endif %}
    {% include 'video/includes/paginator.html' %}
    {% comment %} {% endcache %} {% endcomment %}
  </article>
</div>
{% endblock %}
