{% extends 'base.html' %}
{% load static %}
{% load user_filters %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="main-posts">
          <h3>
            {{ video.name }}
            <small class="text-muted">{{ video.description }}  <span class="date">{{ video.pub_date }}</span></small>
          </h3>
        </div> 
      </div> 
    </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="video-section">
          <video
              id="my-video"
              class="video-js"
              controls
              preload="auto"
              width="100%"
              height="auto"
              data-setup="{}"
          >
            <source src="{% url 'video:stream' video.id %}" type="video/mp4"/>
            <source src="{% url 'video:stream' video.id %}" type="video/webm"/>
            <source src="{% url 'video:stream' video.id %}" type="video/MOV"/>
          </video>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        {{  }}
      </div>
    </div>
  </div>
{% endblock content %}
