{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ just_title }}
{% endblock %}
{% block content %}
<body>
  <div class="row justify-content-center">
    <div class="col-md-4 p-5">
      <img src="{% static 'img/fav/photo.png' %}" 
        class="img-fluid rounded-circle mx-auto d-block" 
        alt="Profile Image"
      >
    </div>
    <div class="col-md-8 p-5">
        <h2>Обо мне</h2>
        <p>
          Я - Александр, мне 31 год, и я работаю в Газпром нефти более 10 лет.
          В последние годы я начал активно заниматься ведением IT-проектов по 
          учету и анализу аварийности в энергетике. Несмотря на мой долгий 
          стаж работы в энергетике, я решил начать изучать язык 
          программирования Python и сейчас стремлюсь стать программистом.
        </p>
        <p>
          Моя цель - создавать продукты, которые будут полезны обществу 
          и помогут улучшить жизнь людей. Мне очень нравится мысль о том, 
          что мои навыки в программировании могут принести пользу 
          окружающим меня людям.
        </p>
        <p>
          В студенческие годы я работал вожатым в детских 
          оздаровительных лагерям. 
          Этот опыт научил меня пониманию потребностей 
          людей разных возрастных групп и помог развить мои 
          коммуникативные навыки.
        </p>
        <p>
          Я имею высшее образование и продолжаю учиться, 
          изучая английский язык и развивая свои увлечения 
          в области съемки и монтажа видео. Эти увлечения помогают 
          мне расслабиться и наслаждаться творческим процессом, что в 
          свою очередь помогает мне сосредоточиться и быть более 
          продуктивным в работе.
        </p>
        <p>
          В целом, я стремлюсь использовать свои профессиональные 
          и личные навыки для создания полезных продуктов, которые 
          помогут улучшить жизнь людей. Я готов работать усердно и 
          решительно, чтобы достичь своей цели и стать ценным 
          активом в области IT.
        </p>
    </div>
  </div>
</body>
{% endblock %}
