{% extends "base.html" %}
{% block title %}
  {{ just_title }}
{% endblock %}
{% block content %}
<div class="row col-12 p-5">
  <div class="p-4 mb-1">
    <h1 class="display-3">Вот что я умею</h1>
  </div>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
        <div class='container py-1'>
          <h2>Мой стэк:</h2>
        </div>
      <li class="list-group-item">
        <div class="shadow-lg p-3 mb-3 bg-white rounded">
            <p class="h4"><strong>Python</strong></p>
        </div>
        <div class="shadow-lg p-3 mb-3 bg-white rounded">
            <p class="h4"><strong>Django</strong></p>
        </div>
        <div class="shadow-lg p-3 mb-3 bg-white rounded">
            <p class="h4"><strong>HTML</strong></p>
        </div>
        <div class="shadow-lg p-3 mb-3 bg-white rounded">
            <p class="h4"><strong>Bootstrap</strong></p>
        </div>
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <div class='container py-2'>
      <h2>Описание:</h2>
    </div>
    <p>
      За последние три месяца я изучил множество технологий, которые помогли 
      мне создать свой первый сайт. Одним из наиболее популярных языков 
      программирования, которые я изучил, является Python. 
      Я научился работать с основными структурами данных, условными 
      операторами, циклами, функциями и классами в Python.
    </p>
    <p>
      Также я изучил фреймворк Django, который позволил мне создать 
      динамический веб-сайт. С помощью Django я могу легко создавать 
      приложения, реализовывать аутентификацию и авторизацию пользователей, 
      а также управлять базой данных.
    </p>
    <p>
      Кроме того, я узнал о технологиях для создания пользовательского 
      интерфейса веб-страниц. Я изучил HTML, который используется для 
      структурирования содержимого страницы, а также CSS и Bootstrap, 
      которые позволяют создавать красивый и удобный дизайн сайта.
    </p>
    <p>
      Я считаю, что программирование - это не только увлекательное 
      занятие, но и возможность создавать что-то полезное для людей. 
      Я стремлюсь использовать свои знания и навыки, чтобы упрощать 
      и улучшать жизнь других людей. Я верю, что каждый проект, 
      который я создаю, должен быть полезен и решать какую-то 
      реальную проблему.
    </p>
    <p>
      Например, я могу использовать свои знания в Python и Django 
      для создания приложений, которые помогут людям лучше 
      организовывать свое время, следить за своим здоровьем или 
      совершать покупки более эффективно. Я также могу создавать 
      сайты, которые будут предоставлять полезную информацию и 
      помогать людям узнавать новое.
    </p>
    <p>
      В целом, я убежден, что программирование - это сила, 
      которую можно использовать для блага общества. Я хочу 
      продолжать учиться и совершенствовать свои навыки, чтобы 
      создавать все более полезные и значимые проекты.
    </p>
  </article>
</div>
{% endblock %}